<div class="home">
    <p>Trang chủ</p>
</div>

<div id="footer">
   <div class="footer1">
        <div class="baoboc1">
            <div class="sp">
                <p>Sản phẩm</p>                      
                <p style="color: #5a5a5a;">Sản phẩm</p>
            </div>
            <div class="hotro">
               <p> Hỗ trợ khách hàng </p>
               <p style="color: #5a5a5a;">Support</p>
            </div>
            <div class="congty">
                <p>Công ty</p>
                <p style="color: #5a5a5a;">Công ty(Tiếng Anh)</p>
            </div>
        </div>
    </div>
   <div class="footer2">
        <div class="baoboc2">
            <div class="privacy">
                <p>Privacy Policy <br> © 2023 CASIO COMPUTER CO., LTD</p>
            </div>
            <div class="cookie">
                <p>Cookie Policy</p>
            </div>
            <div class="dieukhoan">
                <p>Điều khoản sử dụng</p>
            </div>
            <div class="sodo">
                <p>Sơ đồ trang web</p>
            </div>
            <div class="lienhe">
                <p>Liên hệ</p>
            </div>
            <div class="vietnam">
                <p>Việt Nam</p>
            </div>
        </div>
   </div>          
</div>

<script src="script.js"></script>
